# Editor backup files
*~
*.bak

# MSOffice temporary files
~*

# OS and IDE
.emacs*
*.flymake
.#*
.idea
*.sublime-*

# npm
node_modules
npm-debug.log

# project-specific
tmp
test/browser/less.js
test/sourcemaps/*.map
test/sourcemaps/*.css

# grunt
.grunt

# gradle
.gradle
out

# generated archives
*.tar.gz
*.zip


# analyze_github script cache:
__forks.info__/
__forks__.bulk_dump


# analyze_github script cache:
__forks.info__/
__forks__.bulk_dump

