# Editor backup files
*~
*.bak

# MSOffice temporary files
~*

node_modules
.emacs*
*.flymake
.#*
.idea
test/browser/less.js
test/browser/test-runner-*.htm
test/sourcemaps/*.map
test/sourcemaps/*.css

# generated archives
*.tar.gz
*.zip

